body {
    background-image: url(https://i.blogs.es/202202/cascadas/1366_2000.jpeg);
}
H1{
    text-align: center;
    
}
    

P{
    text-align: center;
}
ul{
    text-align: center;
}